:root {
	--black: #1F1F1F;
	--white: #fff;
	--default: 1rem;
	--increased: 1.1rem;
	--title-default: 3rem;
	--title-increased: 3.6rem;
	--name-default: 3.7rem;
	--name-increased: 3.9rem;
	--position-default: 1.1rem;
	--position-increased: 1.3rem;
	font-family: 'DM Sans', sans-serif;
}

a:link {
	text-decoration: none;
}

sl-rating::part(base):hover {
	--symbol-color-active: white;
}

sl-rating.light {
	--symbol-color: black;
}

sl-rating.dark {
	--symbol-color: white;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.15s ease;
}

.hover:hover {
	opacity: .75;
}

.capitalize {
	text-transform: capitalize;
}

.pointer {
	cursor: pointer;
}

.fade-in-header {
	animation: fadeIn ease-in-out .5s;
}

.fade-in-hero {
	animation: fadeIn ease-in-out 1s;
}

.fade-in-footer {
	animation: fadeIn ease-in-out 1.5s;
}

.rotate:hover {
	transform: rotate(1turn);
	transition: all 1s;
}

.scale:hover {
	transform: scale(1.4);
	transition: all .5s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.bg--dark {
	background-image: 
		linear-gradient(
			171deg,
			hsl(223deg 68% 6%) 0%,
			hsl(229deg 72% 13%) 7%,
			hsl(235deg 76% 20%) 14%,
			hsl(241deg 80% 27%) 21%,
			hsl(247deg 85% 33%) 29%,
			hsl(254deg 90% 39%) 36%,
			hsl(260deg 95% 45%) 43%,
			hsl(266deg 100% 50%) 50%,
			hsl(266deg 99% 57%) 57%,
			hsl(267deg 97% 63%) 64%,
			hsl(268deg 94% 69%) 71%,
			hsl(268deg 90% 76%) 79%,
			hsl(269deg 83% 82%) 86%,
			hsl(269deg 69% 88%) 93%,
			hsl(270deg 27% 94%) 100%
		);
}

.bg--light {
	background-image: 
		linear-gradient(
			290deg,
			hsl(240deg 100% 50%) 0%,
			hsl(238deg 99% 62%) 8%,
			hsl(237deg 98% 66%) 15%,
			hsl(237deg 96% 70%) 23%,
			hsl(235deg 95% 73%) 31%,
			hsl(234deg 93% 75%) 38%,
			hsl(233deg 90% 78%) 46%,
			hsl(231deg 88% 80%) 54%,
			hsl(229deg 84% 82%) 62%,
			hsl(227deg 80% 84%) 69%,
			hsl(223deg 75% 85%) 77%,
			hsl(218deg 70% 87%) 85%,
			hsl(212deg 62% 89%) 92%,
			hsl(200deg 53% 90%) 100%
		);
}

header {
	padding: 3vh 0 0 0;
}

nav {
	width: 85%;
	margin: 0 auto 15vh auto;
	border-radius: 7px;
}

nav > ul > li {
	padding: 1.4rem 0;
}

.header__features {
	display: flex;
	align-items: center;
	gap: 2.5vw;
	padding: 0;
	list-style: none;
	margin-bottom: 0;
}

@media screen and (max-width: 900px) {
	.header__features {
		gap: 5vw;
	}
}

@media screen and (max-width: 500px) {
	.header__features {
		font-size: .7rem;
		gap: 2.5vw;
	}
}

@media screen and (max-width: 345px) {
	.header__features {
		font-size: .5rem;
		gap: 2.5vw;
	}
}

.header__features > li > a {
	color: inherit;
	text-transform: uppercase;
	font-weight: 500;
}

.m-right {
	margin-right: 0.3vw;
}

.header__homepage {
	font-weight: 900;
	text-transform: uppercase;
	padding-left: 3vw;
	padding-right: 3vw;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.header__link {
	display: flex;
	gap: .3vw;
	align-items: center;
	text-wrap: nowrap;
}

.header__right {
	display: flex;
	gap: 2.5vw;
	margin-left: auto;
	padding-right: 2.5vw;
}

.hero__first {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 2.5vh;
}


.hero__profile {
	position: relative;
	background-size: cover;
	padding: 6rem;
	border-radius: 10px;
	box-shadow: 4px 1px 15px black;
}

.hero__profile:hover {
	box-shadow: 0 0 20px;
}

.hero__tap {
	font-weight: 200;
	position: absolute;
	bottom: 1vh;
	right: clamp(-4rem, -2.375rem + -0.63vw, -5rem);
	font-style: italic;
}

.hero__profile__pic--dark {
	background-image: url('./assets/profile-dark.JPG');
}

.hero__profile__pic--light {
	background-image: url('./assets/profile-light.JPG');
}

.hero__text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero__position {
	font-weight: 200;
	text-transform: uppercase;
}

@media screen and (max-width: 900px) {
	.hero__position {
		margin-bottom: 2vh;
	}
}

.hero__name {
	font-family: "DM Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

@media screen and (max-width: 900px) {
	.hero__name {
		margin-bottom: 1vh;
	}
}

@media screen and (max-width: 900px) {
	.hero__react,
	.hero__icons {
		gap: 2vw;
	}
}

.hero__second {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.hero__right > h2 {
	text-align: center;
	margin-bottom: 4vh;
}

.sample-slider {
	width: 100%;
	background: rgba(0, 0, 0, .2);
}

.sample-slider .swiper-wrapper{
    transition-timing-function: linear;
	padding: 3vh 0;
}

.hero__third {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	margin: 0vh auto 10vh auto;
}

.hero__projects-title,
.hero__contacts-title {
	font-family: "Kaushan Script", cursive;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 10vh;
}

.hero__projects {
	display: flex;
	width: 90%;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5vw;
}

.hero__project-item {
	display: flex;
	flex-direction: column;
	padding: 1.3rem 1.5rem;
	border-radius: 7px;
	justify-content: space-evenly;
	flex-grow: 1;
}

.hero__fourth {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 900px) {
	.hero__fourth {
		margin-bottom: 5vh;
	}
}

.hero__contacts {
	display: flex;
	width: 70%;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 5vh 0vw;
}

.hero__contact-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	border-radius: 50%;
}

main  {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10vh;
	margin: 10vh auto 0 auto;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5vh;
}

.footer__title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1vw;
	margin-bottom: 2vh;
}

.footer__title {
	font-weight: 700;
}

.footer__fact {
	text-align: center;
	line-height: 1.5;
	width: 30vw;
	margin-bottom: 6vh;
	min-width: 300px;
	border-radius: 12px;
	padding: 2vh 1.5vw;
}

@media screen and (max-width: 390px) {
	.footer__fact {
		min-width: 200px;
	}
}

@media screen and (max-width: 900px) {
	.footer__fact {
		margin-bottom: 8vh;
	}
}

.footer__rating {
	font-weight: 200;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 6vh;
	font-style: italic;
	gap: 1vh;
}

@media screen and (max-width: 900px) {
	.footer__rating {
		margin-bottom: 8vh;
	}
}

.footer__icons {
	background-size: cover;
	background-position: center;
	padding: 1rem;
}

.footer__github--light {
	background-image: url('./assets/github-white.svg');
}

.footer__github--dark {
	background-image: url('./assets/github-dark.svg');
}